{% extends 'base.html.twig' %}

{% block title %}Hello SupplierController!{% endblock %}

{% block body %}
<a href="{{path('newSupplier')}}">Add Supplier</a>

Suppliers : 
{% for supplier in suppliers %}
    <a href="{{path('supplier', {id:supplier.id})}}">{{supplier.name}}</a>
{% endfor %}
{% endblock %}
